.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 120rem;
    margin: 0 auto;
    padding: 1rem 3rem;
}

.header a .logo {
    width: 5.5rem;
}

.header nav .menu {
    display: flex;
    gap: 1.5rem;
}

.header nav .menu li a {
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    font-size: 2rem;
    color: rgb(252, 252, 252);
    transition: 0.3s ease-in-out;
}

.header nav .menu li a:hover {
    background-color: #D92226;

}

.container {
    display: flex;
    height: calc(100vh - 78.44px);
    align-items: center;
    max-width: 120rem;
    margin: 0 auto;
    padding-left: 4rem;
}

.container .informacoes .titulo {
    width: 38rem;
    height: 14rem;
}

.container .informacoes .descricao {
    font-size: 2.3rem;
    max-width: 90%;
    color: rgb(255, 255, 255);
    text-shadow: -1px 1px 3px rgb(206, 206, 206);
    margin: 1.5rem 0 3rem;
}

.container .informacoes .btn-trailers {
    font-size: 2rem;
    text-transform: uppercase;
    text-shadow: -2px 1.5px 3px black;
    padding: 1.5rem 2.5rem;
    background-color: #D92226;
    color: rgb(255, 255, 255);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.41) 0px 3px 8px;
    margin: 1rem;
}

.container .informacoes .btn:hover {
    transform: scale(1.1);
}

.container .personagens {
    max-width: 60%;
}

.fundo-video,
.fundo-video video {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fundo-video video {
    transform: scale(1.15);
}

.fundo-video::before {
    content: "";
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 1) 100%);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
}

.modal {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto auto;
    background-color: rgba(47, 47, 47, 0.896);
    border-radius: 3rem;
    width: 90vw;
    height: 90vh;
    overflow: hidden;
    display: none;
}

.modal .fechar-modal {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
    padding: 1rem 1.5rem;
    border-radius: 1.5rem;
    color: rgba(255, 255, 255, 0.803);
    background-color: rgb(124, 124, 124);
    cursor: pointer;
    position: absolute;
    right: 2rem;
    top: 1.5rem;
}

.modal .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.modal .slide .list-trailers {
    position: relative;
    width: 70rem;
    height: 32rem;
    display: flex;
    justify-content: center;
}

.modal .slide .list-trailers .trailer {
    position: absolute;
    display: none;
}
.modal .slide .list-trailers .trailer.selecionado{
    display: block;
}

.modal .slide button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.modal .slide button:hover {
    transform: scale(1.2);
}
.modal.selecionado{
    display: block;
}